$eventsWidth = 260px
$shadeOffset = 26px
$primaryColor = #222

body
  margin 0 auto
  font-family Georgia, Helvetica
  background-color #eee
  text-align center

.clearfix
  &:after
    content ''
    display table
    clear both

.calendar
  position relative
  margin 8em 0
  display inline-block
  border-radius 4px
  box-shadow 0 1px 3px rgba(0,0,0,0.1)
  font-size 16px
  color #333
  // overflow hidden

.calendar-main, .calendar-events
  padding 24px
  float left
  box-sizing border-box

.calendar-main
  padding-top 0
  padding-bottom 0
  margin-right $eventsWidth
  background-color #fff

.date-header-wrap
  position relative
  z-index 2
  background linear-gradient(to bottom, #fff 80%, rgba(255, 255, 255, 0))
  opacity .8
.date-header
  padding-top 24px

.date-btn
  border 0
  font-size 14px
  background transparent
  outline none
  cursor pointer
.prev-btn
  float left
.next-btn
  float right

.day
  width 36px
  height 32px
  text-align center
.day-today
  background-color #F3F4F5
.day-today,
.day-selected
  font-weight 600
.day-selected
  color #fff
  background-color #333
.day-disabled
  color #c0c4cc

.date-table
  width 100%
.date-head
  font-size 14px
.date-body
  padding-top 8px
  display block
  &:first-of-type
    padding-top 0
  .day
    cursor pointer
  .day-disabled
    cursor auto

.calendar-events
  position absolute
  top 0
  right 0
  width $eventsWidth
  height 100%
  color #fff
  font-family "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif
  font-weight 200
  background-color $primaryColor

.events-header
  margin-bottom 8px
  // font-weight 400
  letter-spacing 1px
.events-day-label
  text-align left
  font-size 24px
  opacity .6

.events-date-label
  float left
  font-size 18px
.events-day-togo
  margin-left 12px
  float left

.task-list
  margin-top - $shadeOffset
  height 200px
  overflow-y scroll
.task-item
  position relative
  margin-bottom 16px
  &:first-of-type
    margin-top $shadeOffset
  &:last-of-type
    margin-bottom $shadeOffset
  .checker, .task-content
    float left
  .checker
    position absolute
    top 2px
    left 0
    .checkbox
      width 12px
      height 12px
      border 1px solid #eee
      border-radius 50%
      cursor pointer
  .task-content
    padding-left 24px
    text-align left
    .task-name
      font-size 15px
      line-height 1.2
    .task-date
      font-size 13px
      opacity .6

[class^="list-shade"]
  position relative
  height $shadeOffset
  z-index 2
.list-shade--top
  background linear-gradient(to bottom, $primaryColor, rgba(255, 255, 255, 0))
.list-shade--bottom
  margin-top - $shadeOffset
  background linear-gradient(to top, $primaryColor, rgba(255, 255, 255, 0))

.date-body-group
  position absolute
  // transform translateY(100px)
  transition transform .5s

.date-table-placeholder
  height 600px
  transition height .3s
